@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "propeller.min";
@import "propeller-roboto";
@import "questions";

.meter-bar {

  span {
    border: solid 1px #eee;
    display: inline-block;
    height: 1em;
    width: .5em;

    &.meter-minus-5.active {
      background-color: darken(red, 25%);
      border: none;
    }
    &.meter-minus-4.active {
      background-color: darken(red, 15%);
      border: none;
    }
    &.meter-minus-3.active {
      background-color: red;
      border: none;
    }
    &.meter-minus-2.active {
      background-color: lighten(red, 15%);
      border: none;
    }
    &.meter-minus-1.active {
      background-color: lighten(red, 25%);
      border: none;
    }
    &.meter-neutral.active {
      background-color: #eee;
      border: none;
    }
    &.meter-plus-1.active {
      background-color: lighten(green, 25%);
      border: none;
    }
    &.meter-plus-2.active {
      background-color: lighten(green, 15%);
      border: none;
    }
    &.meter-plus-3.active {
      background-color: green;
      border: none;
    }
    &.meter-plus-4.active {
      background-color: darken(green, 15%);
      border: none;
    }
    &.meter-plus-5.active {
      background-color: darken(green, 25%);
      border: none;
    }
  }
}