#category-dropdown {
  margin-bottom: 2rem;
  position: relative;

  .dropdown {
    position: static;

    .dropdown-menu {
      width: 100%;
    }
  }
}

#search-container {
  background-color: #ddd;
  margin-bottom: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .clickable {
    border-radius: .25rem;
    display: inline-block;
    padding: .5rem;

    &:hover {
      background-color: #ccc;
    }
    .glyphicon {
      margin-right: 1rem;
    }
  }
}

#questions-container {

  h3:hover {
    text-decoration: underline;
  }
  .pmd-card-actions .comments-length {
    margin-left: 1rem;
  }
}

#answers-container {
  .comment-container {
    border-top: solid 1px #ddd;
  }
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
