#category-dropdown {
  margin-bottom: 2rem;
  position: relative;

  .dropdown {
    position: static;

    .dropdown-menu {
      width: 100%;
    }
  }
  &>.dropdown>.flex {
    justify-content: space-between;
    align-items: center;
  }
}

#search-container {
  background-color: #ddd;
  margin-bottom: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .clickable {
    border-radius: .25rem;
    display: inline-block;
    padding: .5rem;

    &:hover {
      background-color: #ccc;
    }
    .glyphicon {
      margin-right: 1rem;
    }
  }
  &.flex {
    justify-content: space-between;
    align-items: center;
  }
}

#questions-container {

  h3:hover {
    text-decoration: underline;
  }
  .pmd-card-actions .comments-length {
    margin-left: 1rem;
  }
}

#answers-container {
  .comment-container {
    border-top: solid 1px #ddd;
    margin-left: 56px;
    padding-top: 1em;
    padding-left: 0;

    .flex {
      align-items: center;
    }
  }
}

#answer-form {

  .flex {
    justify-content: space-between;
  }
}

.answer-card {
  position: relative;

  .correct-answer-badge {
    position: absolute;
    text-align: center;
    left: -12px;
    top: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
    background-color: gold;
  }
}

#question-query {
  min-width: 100px;
}

.comment-form {
  background-color: #eee;
  margin: 15px -15px -15px;
  padding: 15px;

  .flex {
    justify-content: space-between;
  }

  .close-button {
    color: #ccc;
    padding: 0;
    min-width: 1rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.correct-answer {
  border: solid 2px gold;
}

.card-footer {
  margin-top: 1rem;
}

.vote-button-container {

  &>* {
    margin-right: .5em;
  }
}