#category-dropdown {
  margin-bottom: 2rem;
  position: relative;

  .dropdown {
    position: static;

    .dropdown-menu {
      width: 100%;
    }
  }
}

#search-container {
  background-color: #ddd;
  margin-bottom: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .clickable {
    border-radius: .25rem;
    display: inline-block;
    padding: .5rem;

    &:hover {
      background-color: #ccc;
    }
    .glyphicon {
      margin-right: 1rem;
    }
  }
}

#questions-container {

  h3:hover {
    text-decoration: underline;
  }
  .pmd-card-actions .comments-length {
    margin-left: 1rem;
  }
}

#answers-container {
  .comment-container {
    border-top: solid 1px #ddd;
  }
}

#answer-form {

  .flex {
    justify-content: space-between;
  }
}

.comment-form {
  background-color: #eee;
  margin: 15px -15px -15px;
  padding: 15px;

  .flex {
    justify-content: space-between;
  }

  .close-button {
    color: #ccc;
    padding: 0;
    min-width: 1rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.vote-button-container {

  &>* {
    margin-right: .5em;
  }
}